/* Nextflow Config Files
    ----------------------------------
    PLATE BASED SCRNA-SEQ PARAMS
    ----------------------------------
 
 */
 
 params {
    sample = 'SRR10099498'
    reads = '/scratch/cmr736/ubiquitous-rotary-phone/fastqs/SRR10099498_{1,2}.fastq.gz'
    bclist = '/scratch/cmr736/ubiquitous-rotary-phone/barcode_seq_2ndSet.txt'
    reference = '/scratch/cmr736/references/star_human/'
    pubdir = './DataT1/'
    author = 'Claire Regan'
    stranded = 'Reverse'
    barcode_length = 8 
    UMI_length = 8
    pythonscript_path = '/scratch/cmr736/ubiquitous-rotary-phone'
    picard_path = '/share/apps/picard/2.23.8/picard.jar'
 
 }
 
