/* Nextflow Config Files
    ----------------------------------
    PLATE BASED SCRNA-SEQ PARAMS
    ----------------------------------
 
 */
 
 Params {
    reads = '/scratch/cmr736/ubiquitous-rotary-phone/fastqs/SRR10099491*_{1,2}.fastq.gz'
    bclist = '/scratch/cmr736/ubiquitous-rotary-phone/barcode_seq_2ndSet.txt'
    reference = '/scratch/cmr736/references/star_human/'
    pubdir = './Data/'
    author = 'Claire Regan'
    stranded = 'Reverse'
    barcode_length = 8 
    UMI_length = 8
    picard_path = '/share/apps/picard/2.23.8/picard.jar'
 
 }
 
